header {
  grid-area: header;
  background-color: red;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70% 10%;
  grid-template-areas:
    "header main"
    "footer main";
}

@media (max-width: 550px) {
  #main {
    margin: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  main {
    position: relative;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .logoPrincipal {
    display: flex;
    position: static;
    justify-content: center;
  }

  .flexNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    position: relative;
  }
}
