@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

header,
footer,
section,
nav {
  border-radius: 15px;
}

footer,
nav {
  background-color: #008b8b;
}

body {
  background-color: dodgerblue;
}

/* section {
  background-color: #6495ed;
} */

/* Estilos  header */

.logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logoPrincipal {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  /* justify-content: center; */
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: gold;
}

li {
  list-style-type: none;
}

.flexNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}
/* Tamaño de texto de las imagenes */
h4 {
  text-align: center;
  width: 100%;
}

.tituloUno {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.Parrafo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 100px;
}
.flexIzq {
  display: flex;

  align-items: center;
}
.flexDer {
  display: flex;
  /* Invierto el orden con reverse */
  flex-direction: row-reverse;
  align-items: center;
  background-color: aliceblue;
}

.textoImagenesIzq {
  display: flex;
  text-align: center;
  padding-left: 400px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.textoImagenesDer {
  display: flex;
  text-align: center;
  padding-right: 400px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* lo saque investigando de internet de como puedo hacer
un formulario de contacto... espero no afecte mucho porque
la verdad no lo lograba (DE ACA PARA ABAJO ):) */
.contactForm {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  float: center;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

h2 {
  font-size: 39px;
  text-align: center;
  padding-top: 30px;
}

/* REVISION Y PRUEBA */
/* .Parrafo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 400px;
  height: 100px;
  margin: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
} */

/* .Parrafo {
  color: #0033ff;
  text-indent: 1.5;
  font-size: 12px;
  font-family: "Mochiy Pop P One", sans-serif;
}

.padre-flex {
  display: flex;
  flex-direction: row;
} */
